PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  name TEXT,

  email TEXT UNIQUE NOT NULL,

  phone_number TEXT,

  education TEXT,

  gender TEXT,

  password_hash TEXT NOT NULL,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP

, user_type TEXT NOT NULL DEFAULT 'student', branch TEXT, stream TEXT, approval_status TEXT DEFAULT 'pending', is_active BOOLEAN DEFAULT 1, linkedin_url TEXT, resume_url TEXT);
INSERT INTO users VALUES(1,'admin','admin@ad.com','1234567890','12','Male','$2b$10$/PhalR4zXqHXy5uCkl2Ym.kRRryB1zFY09baxe2Zf66ml7fvCBUGi','2025-06-11 19:13:05','admin',NULL,NULL,'pending',1,NULL,NULL);
INSERT INTO users VALUES(2,'user','user@ad.com','3216549870','10','Male','$2b$10$gqWeZOG0MveRjykWk.R/yOCSbzVvLAtCbjjPORe9cuIIHzFlCdvvy','2025-06-12 11:41:27','student',NULL,NULL,'pending',1,NULL,NULL);
INSERT INTO users VALUES(3,'Shripad shyam Ingole','ingoleshripad15@gmail.com','8329580254','12th','Male','$2b$10$MAjAqTZJ32RBmsg1iu0N/uqVYkQIqSL/9S/qEPSt5hosCngqA49yG','2025-06-21 08:07:12','student',NULL,NULL,'pending',1,NULL,NULL);
CREATE TABLE interviews (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  user_id INTEGER,

  domain TEXT,

  level TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP, fluency REAL, confidence REAL, lexical REAL, grammar_language REAL, subject_knowledge REAL,

  FOREIGN KEY (user_id) REFERENCES users(id)

);
INSERT INTO interviews VALUES(1,1,'Python','Intermediate','2025-06-16 19:45:50',NULL,NULL,NULL,NULL,NULL);
INSERT INTO interviews VALUES(2,1,'Python','Intermediate','2025-06-16 19:45:50',NULL,NULL,NULL,NULL,NULL);
INSERT INTO interviews VALUES(3,1,'Python','Intermediate','2025-06-16 19:45:50',NULL,NULL,NULL,NULL,NULL);
CREATE TABLE interview_questions (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  interview_id INTEGER,

  question_number INTEGER,

  question_text TEXT,

  question_type TEXT NOT NULL CHECK (question_type IN ('spoken', 'coding')),

  video_path TEXT,                     -- For spoken questions

  code_answer TEXT,                    -- For coding questions



  -- ≡ƒöì Fluency metrics (spoken only)

  speech_rate_wpm REAL,

  pause_ratio REAL,

  tempo_variation REAL,



  -- ≡ƒöè Confidence metrics

  avg_pitch REAL,

  pitch_variation REAL,

  prosody_slope REAL,

  jitter REAL,

  shimmer REAL,



  -- ≡ƒº╝ Clarity metrics

  loudness REAL,

  energy_variability REAL,

  formant_f1 REAL,

  formant_f2 REAL,



  -- ≡ƒºá Lexical features

  type_token_ratio REAL,

  advanced_vocab_words TEXT,          -- JSON string

  advanced_vocab_usage REAL,

  redundant_words TEXT,               -- JSON string

  keyword_matches TEXT,               -- JSON string

  keyword_density REAL,

  pronoun_usage_count INTEGER,

  pronoun_density REAL,

  function_word_density REAL,

  lexical_sophistication_index REAL,



  -- Γ£ì∩╕Å Grammar and Language

  grammar_issues INTEGER,

  readability_score REAL,

  syllables_per_word REAL,

  tense_consistency REAL, improvised_answer TEXT, answer_accuracy REAL, answer_completeness REAL, depth_of_knowledge REAL,



  FOREIGN KEY (interview_id) REFERENCES interviews(id)

);
INSERT INTO interview_questions VALUES(1,3,1,'Write a Python script to count vowels in a given string.','coding',NULL,'jn\ adsj lkds ldk vsk vslj vk',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO interview_questions VALUES(2,3,2,'Write a Python program to check if a number is prime.','coding',NULL,replace('isj  sjd  skjlkf  slkjl f  slk   s   sdjls  lsdlk  sdk l \nsk s\ns\ndf\nsd\n\n','\n',char(10)),NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO interview_questions VALUES(3,3,3,'Explain the concept of list comprehension in Python.','spoken','admin_2025-06-17_01-16-31.webm',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE questions (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  question_number INTEGER UNIQUE NOT NULL,

  question_text TEXT NOT NULL,

  question_level TEXT NOT NULL,

  question_domain TEXT NOT NULL,

  question_type TEXT NOT NULL CHECK (question_type IN ('spoken', 'coding')),

  audio_path TEXT                      -- Optional for coding questions

);
INSERT INTO questions VALUES(1,1,'What is a Python list and how is it different from a tuple?','Beginner','Python','spoken','/audio/pytbeg001.wav');
INSERT INTO questions VALUES(2,2,'Explain the concept of Python decorators.','Beginner','Python','spoken','/audio/pytbeg002.wav');
INSERT INTO questions VALUES(3,3,'How does Python handle memory management?','Beginner','Python','spoken','/audio/pytbeg003.wav');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',10);
INSERT INTO sqlite_sequence VALUES('interviews',48);
INSERT INTO sqlite_sequence VALUES('interview_questions',150);
COMMIT;
